<div class="faq-container">
<div class="tab-menu"><button class="tab-link active" data-tab="all">All Catagories</button> <button class="tab-link" data-tab="general">General Queries</button> <button class="tab-link" data-tab="demat">Demat Account</button> <button class="tab-link" data-tab="trading">Trading Account</button> <button class="tab-link" data-tab="load">Load Collateral</button> <button class="tab-link" data-tab="refund">Refund Amount</button> <button class="tab-link" data-tab="edis">Edis and Frozen</button> <button class="tab-link" data-tab="share">Share Realted</button></div>
<div id="all" class="tab-content active">&nbsp;</div>

<div id="general" class="tab-content">

<h2>General Questions</h2>

<div class="faq-item">
<h3>What is Prabhu Stock Market Limited (PSML)?</h3>
<p>Prabhu Stock Market Limited (PSML) is a financial services company committed to transparency, integrity, and innovation. We provide a platform for investors, traders, and institutions to engage in various investment opportunities within the global financial markets.</p>
</div>
<div class="faq-item">
<h3>Who can invest through PSML?</h3>
<p>Both seasoned investors and newcomers can invest through PSML. We offer a wide range of investment avenues tailored to different objectives, ensuring opportunities for investors with varying levels of experience.</p>
</div>
</div>


</div>